@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');


/* ========== ROOT CSS VARIABLE ========== */

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* ========== CSS Global ========== */

a {
    text-decoration: none;
    outline: none;
}

li {
    list-style: none;
}

h1 {
    font-size: 3rem;
    color: var(--color1);
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    color: var(--color1);
    font-weight: 600;
}

h4 {
    font-size: 1.25rem;
    color: var(--color1);
    font-weight: 600;
}

h6 {
    font-size: 1rem;
}

p {
    color: var(--color1);
}

img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#inked-painted {
    position: relative; font-size: 0;
    -ms-touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
div#inked-painted img {
    width: 100%; height: auto;
}
div#colored {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-size: cover;
}
div#inked-painted:hover {
    cursor: col-resize;
}

.compare {
    display: grid;
}

.compare > * {
    grid-area: 1 / 1;
}

.compare > section {
    display: grid;
    place-content: center;
}

.compare .before {
    mask: linear-gradient(to right, #000 0, var(--pos, 50%), #0000 0);
}

.compare .after {
    mask: linear-gradient(to right, #0000 0, var(--pos, 50%), #000 0);
}

.compare > input[type="range"] {
    z-index: 1;
    background: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    top: 8rem;
    width: 15rem;
    left: 6rem;
}

.compare > input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    inline-size: 4px;
    block-size: 100vh;
    background-color: CanvasText;
}

.compare > input[type="range"]::-moz-range-thumb {
    appearance: none;
    inline-size: 4px;
    block-size: 100vh;
    background-color: CanvasText;
}


.switchScrool,
.circle {
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.switchScrool {
    width: 80px;
    height: 4px;
    border-radius: 27px;
    background-image: linear-gradient(298deg, var(--red), var(--yellow));
    position: fixed;
    right: 50px;
    top: 75px;
    display: block;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
    z-index: 33333;
    transition: all 300ms linear;
}
.circle {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--black-blue-light-3);
    box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
    animation: border-transform 10s linear infinite alternate forwards;
}
.circle:hover {
    box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.circle:before {
    position: absolute;
    font-family: 'unicons';
    content: '\eac1';
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    height: 40px;
    opacity: 1;
    color: var(--grey);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.circle:after {
    position: absolute;
    font-family: 'unicons';
    content: '\eb8f';
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    height: 40px;
    color: var(--yellow);
    opacity: 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.switched {
}
.switched .circle {
    left: 45px;
    box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
    background: var(--black-blue);
}
.switched .circle:hover {
    box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.switched .circle:before {
    opacity: 0;
}
.switched .circle:after {
    opacity: 1;
}

.progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.uil-arrow-up {
    position: absolute;
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: var(--grey);
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
    opacity: 0;
}
.progress-wrap:hover::before {
    opacity: 1;
}
.progress-wrap svg path {
    fill: none;
}
.progress-wrap svg.progress-circle path {
    stroke: var(--grey);
    stroke-width: 4;
    box-sizing:border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

/* ========== Dark and light mode toggle ======== */

.theme-toggle {
    position: fixed;
    top: 50%;
    z-index: 10;
    right: 0;
    border: none;
    background-color: var(--color2);
}

.settings {
    position: fixed;
    top: 50%;
    z-index: 10;
    right: 96.5%;
    border: none;
    background-color: var(--color2);
}


/* ========== MAIN WRAPPER ======== */

.portfolio-container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 15px;
}

.portfolio-row {
    display: flex;
    flex-wrap: wrap;
}

/* ========== STYLE FOR HEADER NAVBAR ======== */
header {
    left: 0;
    right: 0;
    z-index: 20;
    transition: .8s;
    padding: 15px;
    position: fixed;
    background-color: var(--bg-color1);
}

header .portfolio-row.header-wrap {
    justify-content: space-between;
    align-items: center;
}

.portfolio-navbar {
    display: none;
}

.brand-name a {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--color1);
}

.navbar-toggle i {
    font-size: 1.25rem;
    line-height: 30px;
    cursor: pointer;
    color: var(--color1);
}

.ProjectsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.quick-settings {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    padding: 16px 24px;
    right: 0;
    bottom: 0;
    position: fixed;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeInAnimation ease-in-out 0.5s forwards;
    backdrop-filter: blur(15px);
    z-index: 1000;
}

.quick-settings__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quick-settings--headline {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.none {
    display: none;
}

.hide {
    opacity: 0;
    visibility: hidden;
    animation: fadeOutAnimation ease-in-out 0.5s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
        width: 0px;
    }
    100% {
        opacity: 1;
        visibility: visible;
        width: 350px;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        width: 350px;
        visibility: visible;
    }
    100% {
        opacity: 0;
        width: 0px;
        visibility: hidden;
    }
}

/* Switch button  */
.switch-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.switch__label {
    white-space: nowrap;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(
            --body-background
    );
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: var(
            --gray-dark
    );
}

.switch input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ========== NAVBAR FOR MOBILE VIEW ONLY ======== */
.portfolio-navbar.show {
    display: block;
    position: absolute;
    background-color: #ecf1fa;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 15px;
    border-top: 5px solid #000;
    text-align: center;
}

.portfolio-navbar ul li {
    display: block;
}

.portfolio-navbar ul li a {
    color: black;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 45px;
}

/* ========== STYLE FOR SLIDER OR ABOUT SECTION ======== */
#about {
    padding-top: 100px;
    background-color: var(--bg-color1);
}

.about-content {
    align-items: center;
}

.about-intro {
    margin-top: 3rem;
    width: 100%;
    order: 2;
}

.ring {
    position: relative;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 15px;
}

.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid black;
    transition: 0.5s;
}

.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
}

.ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* ========== SECTION SUBTITLE ======== */

.subtitle {
    position: relative;
    color: #f987d6;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-left: 55px;
}

.subtitle::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 35px;
    height: 3px;
    background-image: linear-gradient(to right, #977ec7 0%, #f987d6 100%);
}

/* ========== MAIN TITLE ======== */

h1 strong,
h2 strong {
    background-image: linear-gradient(to right, #977ec7 0%, #f987d6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.about-text h3 {
    color: var(--color1);
    margin-bottom: 10px;
}

p strong {
    color: var(--color2);
}

/* ========== HELLO BUTTON ======== */
.hello-btn a {
    display: inline-block;
    margin: 20px 0;
    padding: 15px 45px;
    color: #FFF;
    background-color: #977ec7;
    z-index: 100;
    line-height: 30px;
    border-radius: 15px;
    transition: all 0.3s ease-out 0s;
}

.hello-btn a:hover {
    background-color: #293b5f;
}

/* ========== STYLE FOR ABOUT IMAGE ======== */

.about-image {
    width: 100%;
    order: 1;
    position: relative;
    z-index: 2;
    transition-duration: 0.4s;
    cursor: pointer;
}

.about-image img {
    border-radius: 100% 50% 50% 100% / 75% 69% 69% 75%;
    position: relative;
    height: 25rem;
}

.about-image::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(11deg, #291342 0%, #c60242 100%);
    z-index: -1;
    border-radius: 100% 50% 50% 100% / 75% 69% 69% 75%;
    box-shadow: 2px 10px 0 0 rgba(216, 19, 19, 0.16);
    transition: all .5s ease-in-out;
}

.about-image:hover {
    transform: translateY(-10.5px);
    filter: drop-shadow(0 0 30px rgba(223, 59, 13, 0.8));
}

/* ========== RESUME SECTION STYLE ======== */
#resume {
    background-color: var(--bg-color2);
    padding: 75px 0;
}

.resume-heading {
    width: 100%;
    text-align: center;
}

.resume-body {
    width: 100%;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 500px;
}

.resume-item {
    display: inline;
    position: relative;
    margin-bottom: 25px;
    padding: 0 10px;
}

.resume-item a {
    font-size: 14px;
    font-weight: 400;
    color: var(--color1);
    line-height: 45px;
}

.resume-tab {
    display: none;
}

.resume-tab.active {
    display: block;
    animation: fade .8s;
}

.resume-item.active .resume-link {
    position: relative;
    font-weight: 700;
}

.resume-item.active .resume-link::before {
    position: absolute;
    content: "";
    background-color: #7257F2;
    left: 0;
    top: 30px;
    bottom: 0;
    height: 3px;
    width: 100%;
}

/* ========== ANIMATION FOR FADE EFFECT  ======== */

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ========== RESUME TAB CONTENT  ======== */
.resume-content {
    display: flex;
}

.resume-content:not(:last-child) {
    padding-bottom: 44px;
}

.years {
    width: 90px;
    flex: none;
    color: var(--color1);
}

.qualification-content {
    position: relative;
    padding-left: 20px;
}

.qualification-content::before {
    content: "";
    height: 100%;
    width: 3px;
    left: 0;
    top: -10px;
    position: absolute;
    background-color: #E8E8E8;
}

.qualification-content::after {
    position: absolute;
    content: "";
    height: 7px;
    width: 7px;
    left: -2px;
    top: 12px;
    transform: rotate(45deg);
    background: #e15747;
}

.qualification-content .title {
    font-weight: 400;
    display: inline-block;
    color: #d55041;
}

.institution, .organization {
    color: #78add9;
    font-weight: 400;
}

/* ========== SKILLS BAR  ======== */
.bar-content {
    margin-bottom: 15px;
}

.bar-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.bar-title, .bar-percentage {
    color: var(--color1);
}

.bar-progress {
    display: flex;
    background-color: #e9eeef;
    height: 8px;
    border-radius: 5px;
}

.progress-bar {
    width: 0;
    display: flex;
    position: relative;
    transition-delay: 1.5s;
    background-color: #A30642;
    border-radius: 5px;
}

.resume-tab.active .progress-bar {
    animation: progress 2000ms ease-in 1;
}

/* ========== ANIMATION FOR SKILL PROGRESS BAR  ======== */

@keyframes progress {
    from {
        width: 0;
    }
}

/* ========== NAVIGATION LINK WHEN SCROLL ACTIVE ======== */
.portfolio-navbar ul li a.active-link {
    font-weight: 800;
}


/* ========== HEADER STICK TO TOP  ======== */
header.header-sticky {
    position: fixed;
    background-color: #FFF;
    z-index: 2000;
    transition: .8s;
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

.header-sticky .brand-name a {
    color: #3e4455;
}

.header-sticky .navbar-toggle i {
    color: #3e4455;
}

.header-sticky .portfolio-navbar ul li a {
    color: #3e4455;
}

/* ========== SERVICES  ======== */
#services {
    padding: 75px 0;
    background-color: var(--bg-color1);
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}


.services-list .service-row:not(:last-child) {
    padding-bottom: 45px;
}

.service-count {
    width: 35%;
}

.services-name {
    width: 65%;
}

.services-name h3 {
    font-size: 26px;
    color: var(--color1);
    font-weight: 600;
}

/* ========== SERVICES COUNT HOVER EFFECT  ======== */

.service-count h2 {
    font-size: 6rem;
    position: relative;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1.1px var(--color1);
}

.service-count h2::before {
    content: attr(data-fill-text);
    position: absolute;
    width: 0;
    height: 100%;
    font-weight: 800;
    transition: width 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
    color: var(--color1);
    white-space: nowrap;
    -webkit-text-stroke: 0 transparent;
}

.service-count h2:hover::before {
    width: 100%;
}

/* ========== PROJECTS SLIDER  ======== */
#projects {
    padding: 75px 0;
    background-color: var(--bg-color2);
}

.gallery-track {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3.25rem;
    padding: 0.25rem;
    will-change: transform;
}

.card {
    height: 200px;
    width: 21rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card .card-image-wrapper {
    height: 135%;
    will-change: transform;
}

.card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

@media (max-width: 800px) {
    .gallery-track {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 550px) {
    .gallery-track {
        grid-template-columns: repeat(1,1fr);
    }
}


.product-content {
    text-align: center;
    position: relative;
    cursor: pointer;
}

.img-overlay {
    position: absolute;
    inset: 0 0 0;
    background-color: rgba(16, 16, 16, .5);
    transition: all 0.5s ease 0s;
    transform: scale(1.15);
    opacity: 0;
    border-radius: 1.5rem;
}

.product-content:hover .img-overlay {
    opacity: 1;
    transform: scale(1);
}

.product-title {
    width: 100%;
    position: absolute;
    bottom: -45px;
    opacity: 0;
    transition: .5s;
}

.product-content:hover .product-title {
    bottom: 30%;
    opacity: 1;
}

.product-title h4 {
    color: #FFF;
    font-size: 1.5rem;
}

.product-title p {
    color: #FFF;
}



/* ========== CONTACT SECTION STYLE   ======== */
#contact {
    padding: 75px 0;
    background-color: var(--bg-color2);
    position: relative;
    z-index: 2;
}

.contact-info {
    width: 100%;
    padding-top: 15px;
}

.contact-info li {
    display: flex;
    flex-wrap: wrap;
    background: #FFF;
    border-radius: 0.5rem;
    margin-bottom: 28px;
    padding: 30px 40px;
    position: relative;
    cursor: pointer;
    border: 1px solid #e2e5f1;
    box-shadow: 0 0.25rem 0.75rem rgba(11, 15, 25, 0.1);
}

.contact-icon {
    margin: auto 0;
}

.contact-icon i {
    color: #3e4455;
    display: inline-block;
    font-size: 24px;
    margin-right: 30px;
    position: relative;
}

.contact-detail h5 {
    color: #3e4455;
    font-size: 1rem;
}

.contact-info li::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    z-index: -1;
    transition: all 0.15s ease-out;
    background-image: linear-gradient(to right, #977ec7 0%, #f987d6 100%);
}

.contact-info li:hover::after {
    top: 8px;
    left: 8px;
}


/* ========== FOOTER CONTACT FORM   ======== */
.contact-heading {
    margin-top: 30px;
}

.footer-contact {
    width: 100%;
    padding-top: 15px;
}

.input-wrapper,
.input-subject,
.form-submit {
    width: 100%;
    padding: 10px 0;
}

.input-control, .contact-msg {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: #f6f6f9;
    border: 1px solid #f6f6f9;
    color: #3e4455;
    height: 60px;
    line-height: 56px;
    outline: none;
    padding: 0 30px;
    width: 100%;
    font-weight: 500;
}

.contact-msg {
    height: 150px;
    line-height: 1.2;
    padding: 20px 30px;
    resize: none;
}

.btn-submit {
    width: 90%;
    padding: 15px 30px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    background-color: #ff5252;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

/* ========== MESSAGE FOLLOWING FORM SUBMISSION: ERROR OR SUCCESS   ======== */
.loader {
    width: 100%;
    padding: 10px;
    background-color: var(--bg-color2);
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    display: none;
}

.loader.show {
    display: block;
}

.loader i {
    color: var(--color2);
    animation: rotateme .4s linear infinite;
}

.form-message {
    width: 100%;
    background-color: var(--bg-color2);
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    display: none;
}

.form-message.show {
    display: block;
}

.success-msg {
    color: green;
    line-height: 3;
}

.error-msg {
    color: red;
}


/* ========== LOADER ANIMATION   ======== */

@keyframes rotateme {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ========== MAIN FOOTER   ======== */
footer {
    background-color: var(--bg-color1);
    padding: 20px 0;
}

.portfolio-row.footer-wrap {
    justify-content: center;
}

.footer-top {
    display: none;
}

.footer-bottom {
    padding: 20px 0;
}

.copyright-text {
    order: 2;
    padding-top: 20px;
}

.social-item {
    display: inline-block;
}

.social-icons li a {
    height: 3rem;
    width: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #FFF;
    transition: all 500ms ease;
    color: rgba(5, 18, 20, 0.7);
    font-size: 1.1rem;
}

.social-item:not(:last-child) {
    margin-right: 0.5rem;
}

.social-icons li a:hover {
    transform: translateY(-10px);
}

#scroll-top-btn {
    display: none;
}

/* ----------------------------------------------------------------------------------------------- */


/* ============= Medium devices (tablets, 768px and up) ============= */

@media (min-width: 768px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
        color: var(--color1);
        font-weight: 600;
    }

    /* ========== HEADER RESPONSIVE  ======== */
    header {
        position: absolute;
        padding: 0 15px;
        background-color: transparent;
    }

    .navbar-toggle i {
        display: none;
    }

    .portfolio-navbar {
        display: block;
    }

    .portfolio-navbar ul li {
        display: inline-block;
        padding: 0 10px;
    }

    .portfolio-navbar ul li a {
        color: var(--color1);
        line-height: 65px;
    }

    /* ========== SLIDER OR ABOUT SECTION RESPONSIVE  ======== */
    #about {
        padding: 175px 0 150px 0;
    }

    .about-intro {
        width: 60%;
        margin-top: 0;
        order: 1;
    }

    /* ========== SLIDER IMAGE RESPONSIVE  ======== */
    .about-image {
        width: 38%;
        order: 2;
        height: 25rem;
    }

    /* ========== RESUME SECTION RESPONSIVE  ======== */
    .resume-heading {
        margin: auto 0;
        width: 35%;
        text-align: center;
    }

    .resume-body {
        width: 65%;
        margin-top: 30px;
        padding-top: 0;
        padding-left: 40px;
        min-height: 400px;
    }

    .resume-item {
        display: block;
        padding-left: 20px;
    }

    .resume-item .resume-link {
        font-size: 1.1rem;
    }

    .resume-item.active .resume-link::before {
        position: unset;
    }

    .resume-item.active::before {
        position: absolute;
        content: "";
        background-color: #7257F2;
        left: 0;
        top: auto;
        bottom: 0;
        height: 100%;
        width: 3px;
    }

    .resume-item.active {
        background: linear-gradient(90deg, #775afc1a 0%, #775afc00 100%);
    }

    /* ========== SKILLS AND PROGRESS BAR  ======== */
    .bar-content {
        margin-bottom: 0;
    }

    /* ========== SERVICE RESPONSIVE  ======== */
    .service-count {
        width: 20%;
    }

    .services-name {
        width: 70%;
    }

    .services-list .service-row:not(:last-child) {
        padding-bottom: 0;
    }


    /* ========== CONTACT RESPONSIVE  ======== */
    .contact-info {
        width: 35%;
        padding-top: 15px;
    }

    .contact-item {
        padding-left: 8px;
        display: flex;
    }

    .contact-icon i {
        margin-right: 2px;
    }

    .contact-detail {
        font-size: 13px;
    }

    .contact-heading {
        display: none;
    }

    .footer-contact {
        width: 65%;
        padding-left: 40px;
    }

    .input-wrapper {
        padding: 0 10px;
        width: 50%;
        margin-bottom: 10px;
    }

    .input-subject, .form-submit {
        padding: 10px;
    }

    .btn-submit {
        width: 89%;
    }

    /* ========== DARK AND LIGHT MODE TOGGLE RESPONSIVE ======== */
    .theme-toggle {
        background: none;
        position: static;
        transform: none;
    }

    .settings {
        background: none;
        position: static;
        transform: none;
        color: white;
        right: 11rem;
        margin-top: 5px;
    }

    /*FOOTER RESPONSIVE*/
    .footer-top {
        display: block;
        border-bottom: 1px solid var(--bg-color1);
    }

    .portfolio-row.footer-wrap {
        justify-content: space-between;
        align-items: center;
    }

    .copyright-text {
        order: 0;
        padding-top: 0;
    }

    #scroll-top-btn {
        position: fixed;
        right: 20px;
        bottom: 36px;
        display: block;
        width: 50px;
        height: 50px;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        background-image: linear-gradient(to right, #977ec7 0%, #f987d6 100%);
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        z-index: 2000;
    }

    #scroll-top-btn i {
        font-size: 1rem;
        color: #FFF;
    }

    #scroll-top-btn.visible {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 1441px) {
    header .portfolio-row.header-wrap{
        width: 85%;
    }
    .card{
        width: 17rem;
    }
    .about-image{
        width: 38%;
    }
    .compare > input[type="range"]{
        left: 2rem;
    }
}

@media (max-width: 1025px) {
    .gallery-track{
        gap: 1.25rem;
    }
    #projects h2{
        font-size: 2rem;
    }

    .compare > input[type="range"]{
        left: 5rem;
    }
}

@media (max-width: 768px) {

    .brand-name{
        margin-top: 1rem;
    }

    .resume-body{
        width: 55%;
        padding-left: 5%;
    }

    .about-intro{
        width: 50%;
        margin: 30px auto;
        text-align: center;
    }

    .about-image{
        width: 55%;
        position: relative;
        left: 10rem;
    }
    .compare > input[type="range"]{
        left: 6rem;
    }
    .settings{
        top: 40%;
        right: 94.5%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .theme-toggle{
        top: 40%;
        right: 0;
    }
}

@media (max-width: 426px) {
    .settings{
        right: 90.5%;
    }
    .about-image{
        width: 78%;
        position: relative;
        left: 3rem;
    }
    .btn-submit{
        width: 85%;
    }

    .compare > input[type="range"]{
        left: 3rem;
    }
}

@media (max-width: 376px) {
    .compare > input[type="range"] {
        left: 1rem;
    }

    .btn-submit{
        width: 82%;
    }
}

@media (max-width: 351px) {

    .theme-toggle{
        top: 40%;
        right: 0;
    }

    .settings{
        top: 40%;
        right: 88.5%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .compare > input[type="range"] {
        width: 11rem;
    }

    .quick-settings{
        max-width: 275px;
    }

    .close{
        color: white;
    }

    .certificate{
        font-size: 15px;
    }

    .contact-detail span{
        font-size: 13px;
    }

    .btn-submit{
        width: 79%;
    }

    .contact-info li{
        padding-left: 5px;
        flex-wrap: nowrap;
    }

    .contact-icon i{
        margin-right: 10px;
    }

    .compare > input[type="range"]{
        left: 2rem;
    }
}
